:root {
    --clr-red: hsl(0, 78%, 62%);
    --clr-oragen: hsl(34, 97%, 64%);
    --clr-cyan: hsl(180, 62%, 55%);
    --clr-blue: hsl(212, 86%, 64%);
    --clr-white: hsl(0, 0%, 100%);

    --clr-neutral-700: hsl(234, 12%, 34%);
    --clr-neutral-400: hsl(229, 6%, 34%);
    --clr-neutral-200: hsl(0, 0%, 98%);

    --fw-semibold: 600;
    --fw-normal: 400;
    --fw-extralight: 200;
}